<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConsumerKey" value="13MVG9szVa2RxsqBYxyvc7fDRtgIizNF7qDETUF4z1rE2I81LmpMsT1l72rhehU7R5xDbHgO0k7MOLu9PuG4Zb" />    <!-- Setup -> Create -> Apps -> Connected Apps -> New -> Check 'Enable OAuth and set the OAuth Scope(s). Fill remaining required fields. -->
    <add key="ConsumerSecret" value="16312923095230155486" />    <!-- Secret is generated along with the Consumer Key -->
    <add key="SecurityToken" value="1nnqRtFOvfKEpsVFD9rBeUG3f" />    <!-- My Settings -> Personal -> Reset My Security Token  -->
    <add key="Username" value="foluis1@hotmail.com" />    <!-- My Settings -> Personal -> Personal Information  -->
    <add key="Password" value="Software1" />    <!-- My Settings -> Personal -> Change My Password  -->

    <!--set to true to point  SimpleConsole at a Sandbox environment (test.salesforce.com) -->
    <add key="IsSandboxUser" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>