<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="UserName" value="foluis1@hotmail.com" />
    <add key="Password" value="Software1" />
    <add key="SecurityToken" value="1nnqRtFOvfKEpsVFD9rBeUG3f" />
    <add key="ClientId" value="13MVG9szVa2RxsqBYxyvc7fDRtgIizNF7qDETUF4z1rE2I81LmpMsT1l72rhehU7R5xDbHgO0k7MOLu9PuG4Zb" />
    <add key="ClientSecret" value="16312923095230155486" />

    <add key="streamingEndpointURI" value="/cometd/36.0" />
    <add key="channel" value="/topic/OpportunityUpdate" />

    <add key="IsSandboxUser" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>