<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--Local-->
    <add key="loginEndpoint" value="https://login.salesforce.com/services/oauth2/token" />
    <add key="userName" value="salesforceMail@hotmail.com" />
    <add key="password" value="salesforcePws" />
    <add key="clientId" value="3MVG9szVa2RxsqBYxyvc7fDRtgIizNF7ddETUF4z1rE2I81LmpMsT1l72rhehU7R5xDbHgO0k7MOLu9PuG4Zb" />
    <add key="clientSecret" value="6312923012230155486" />
    <add key="streamingEndpointURI" value="/cometd/36.0" />
    <add key="channel" value="/topic/yourPushTopic" />

    <!--Renters Sandbox-->
  </appSettings>
</configuration>